.Die {
  font-size: 11rem;
  color: #30336b;
  padding: 1.5rem 2rem;
}

.Die-animate {
  animation: .5s shakeDice;
}

@keyframes shakeDice {
  0% {
    transform: translateX(-2rem) rotateZ(-10deg);
  }

  25% {
    transform: translateX(2rem) rotateZ(5deg);
  }

  50% {
    transform: translateX(-2rem) rotateZ(-5deg);
  }

  100% {
    transform: translateX(0) rotateZ(0deg);
  }
}