.RollDice-box {
  display: flex;
  justify-content: center
}

.RollDice-btn,
.RollDice-waitBtn {
  border: none;
  background-color: rgb(82, 75, 172);
  margin-top: 3rem;
  padding: 2rem 6rem;
  border-radius: 10px;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
}

.RollDice-waitBtn {
  padding: 2rem 7.3rem;
  background-color: #000;
}

.RollDice-btn:hover {
  background-color: #000;
  cursor: pointer;
}